.sidebar{
    position: fixed;
    left: 0;
    top: 56px;
    bottom: 0;
    background-color: white;
    width: 72px;
    padding-top: 5px;
    z-index: 200;
}

.sidebar div{
    display: flex;
    flex-direction: column;
    height: 74px; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar div:hover{
    background-color: #eeeeee;
}

.sidebar img{
    width: 24px;
}

.sidebar p{
    margin: 0px;
    font-weight: 500;
    font-size: 10px;
}