.master-container{
    padding-left: 72px;
    padding-top: 57px;
}
.videos-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    padding: 20px; 
    row-gap: 16px;
}

@media (min-width: 1125px){
.master-container .videos-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 870px) and (max-width: 1124px){
    .master-container .videos-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.video-container{
    display: grid;
    width: 100%;
}

.image-thumbnail{
    width: 100%;
}

.thumbnail-section{
    width: 100%;
}

.video-info{
    display: grid;
    height: 112px;
    grid-template-columns: 50px 1fr;
    column-gap: 10px;
}

.image-channel{
    border: none;
    border-radius: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 3px;
}

.title-video{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.channel-name,
.video-stats{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #606060;
    margin-bottom: 7px;
    margin-top: 0px;
}